name: solidstore

services:
  client:
    container_name: solidstore-client
    build:
      context: .
      dockerfile: client/docker/client.Dockerfile
      target: prodrunner
    networks:
      solidstore-network:
        ipv4_address: 192.168.12.2
    extra_hosts:
      - "server.solidstore.localhost:host-gateway"
    depends_on:
      server:
        condition: service_healthy
      caddy:
        condition: service_healthy

  server:
    container_name: solidstore-server
    build:
      context: .
      dockerfile: server/server.Dockerfile
    networks:
      solidstore-network:
        ipv4_address: 192.168.12.3
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    container_name: solidstore-db
    build:
      dockerfile: Dockerfile
      context: db
    volumes:
      # Persists records
      - ./db/docker/data:/var/lib/postgresql/18/docker
    networks:
      solidstore-network:
        ipv4_address: 192.168.12.4

  caddy:
    extra_hosts:
    - "host.docker.internal:host-gateway"
    container_name: solidstore-caddy
    build:
      dockerfile: Dockerfile
      context: caddy
    volumes:
      - ./caddy/prod/etc:/etc/caddy
      - ./caddy/prod/data:/data
      - ./caddy/prod/config:/config
    ports:
      - 443:443
    networks:
      solidstore-network:
        ipv4_address: 192.168.12.5

networks:
  solidstore-network:
    name: solidstore-network
    enable_ipv6: false
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.12.0/24
          ip_range: 192.168.12.0/24
          gateway: 192.168.12.1
