{
	local_certs
	pki {
		ca local {
      # this is explicit because caddy's default is 7d
			intermediate_lifetime 730d
		}
	}
}

*.solidstore.localhost {
	tls {
		issuer internal {
      # this is explicit because caddy's default is 12h
			lifetime 365d
		}
	}
}

https://client.solidstore.localhost {
	reverse_proxy client:3000
}

https://server.solidstore.localhost {
	reverse_proxy server:3010
}

https://keycloak.solidstore.localhost {
	reverse_proxy keycloak:8080
}

# Presents the root certificate
http://192.168.12.5:2020 {
	file_server {
		root /data/caddy/pki/authorities/local
		hide *.key
	}
}